<!DOCTYPE html>
<html>
<head>
  <title>Profile</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', 'data-turbo-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbo-track': 'reload' %>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css">
</head>
<body>
  <div class="container mt-5">
    <h1 class="mb-4">Profile</h1>

    <% if flash[:alert] %>
      <div class="alert alert-danger" role="alert">
        <%= flash[:alert] %>
      </div>
    <% end %>

    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-4">
            <p class="card-text"><strong>Name:</strong> <%= @user.name %></p>
            <p class="card-text"><strong>Email:</strong> <%= @user.email %></p>
            <p class="card-text"><strong>Birthdate:</strong> <%= @user.birthdate %></p>
            <p class="card-text"><strong>Loyalty Tier:</strong> <%= @user.loyalty_tier_name %></p>
            <p class="card-text"><strong>Points Earned:</strong> <%= @user.total_points %></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>
